<div class="container">
    <div class="selectores">
        <select name="" id="" class="select" [(ngModel)]="plataforma" (change)="clasificarporCategoria(plataforma)">
            <option value="">Seleccione Consola</option>
            @for(plataforma of plataformas; track plataforma._id){
                <option [value]="plataforma.nombre">{{plataforma.nombre}}</option>
            }
            
        </select>

        <select name="" id="" class="select" [(ngModel)]="metodoOrdenamientoSeleccionado" (change)="ordenarMetodos(metodoOrdenamientoSeleccionado)" >
            <option value="defecto">Orden por defecto</option>
            <option value="menorMayor">Ordenar por precio:bajo a alto</option>
            <option value="mayorMenor">Ordenar por precio:alto a bajo</option>
        </select>

    </div>
  
    <div class="galeria">
        @for (producto of productos; track producto._id) {
        <div class="card">
            <img [src]="producto.imagenes[0]" alt=""  [routerLink]="['/videojuego',producto._id]">
            <div class="card-body">
                <p class="bold">{{producto.nombre}}</p>
                <p>{{producto.precio| currency}}</p>
                <button (click)="agregarProducto(producto)"  class="button"><p>Añadir al carrito</p></button>
            </div>
        </div>
        }
    
    </div>

</div>


