<div class="admin-empleados">
  <div class="title-container">
    <h2>Lista de Empleados</h2>
    <button (click)="showInsertForm()" class="insert-button">
      Insertar Nuevo Empleado
    </button>
  </div>

  <div class="filter-container">
    <input type="text"
           placeholder="Buscar por nombre, apellido o cédula..."
           [(ngModel)]="searchTerm"
           (ngModelChange)="applyFilter()"
           name="searchTerm">
  </div>

  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha Nacimiento</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Puesto</th>
          <th>Sueldo</th>
          <th>Estado</th>
          <th style="width:80px;">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of filteredEmpleados">
          <td>{{ empleado.cedula }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellido }}</td>
          <td>{{ empleado.fecha_nacimiento | date:'yyyy-MM-dd' }}</td>
          <td>{{ empleado.direccion }}</td>
          <td>{{ empleado.telefono }}</td>
          <td>{{ empleado.correo }}</td>
          <td>{{ empleado.puesto?.nombre }}</td>
          <td>{{ empleado.sueldo }}</td>
          <td>{{ empleado.estado }}</td>
          <td>
            <div class="btn-container">
              <button class="edit" (click)="editEmpleado(empleado)">Editar</button>
            </div>
            <div class="btn-container">
              <button class="delete" (click)="deleteEmpleado(empleado._id!)">Borrar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  <!-- Modal para agregar/editar empleado -->
<div class="modal" [ngClass]="{'is-visible': isFormVisible}" (click)="onModalClick($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close-button" (click)="closeModal()">×</span>
    <h2>{{ isEditing ? 'Editar Empleado' : 'Agregar Empleado' }}</h2>
    <form (ngSubmit)="saveEmpleado()" #empleadoForm="ngForm">

      <div class="form-group">
        <label for="cedula">Cédula</label>
        <input id="cedula" name="cedula"
               [(ngModel)]="selectedEmpleado.cedula"
               placeholder="Cédula" required>
      </div>

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input id="nombre" name="nombre"
               [(ngModel)]="selectedEmpleado.nombre"
               placeholder="Nombre" required>
      </div>
      
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input id="apellido" name="apellido"
               [(ngModel)]="selectedEmpleado.apellido"
               placeholder="Apellido" required>
      </div>

      <div class="form-group">
        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
        <input id="fecha_nacimiento" name="fecha_nacimiento"
               type="date"
               [(ngModel)]="selectedEmpleado.fecha_nacimiento"
               required>
      </div>

      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input id="direccion" name="direccion"
               [(ngModel)]="selectedEmpleado.direccion"
               placeholder="Dirección" required>
      </div>

      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input id="telefono" name="telefono"
               [(ngModel)]="selectedEmpleado.telefono"
               placeholder="Teléfono" required>
      </div>

      <div class="form-group">
        <label for="correo">Correo</label>
        <input id="correo" name="correo"
               type="email"
               [(ngModel)]="selectedEmpleado.correo"
               placeholder="Correo" required>
      </div>

      <div class="form-group">
        <label for="puesto">Puesto</label>
        <input id="puesto" name="puesto"
               [(ngModel)]="selectedEmpleado.puesto.nombre"
               placeholder="Puesto" required>
      </div>

      <div class="form-group">
        <label for="sueldo">Sueldo</label>
        <input id="sueldo" name="sueldo"
               type="number"
               [(ngModel)]="selectedEmpleado.sueldo"
               placeholder="Sueldo" required>
      </div>
      
      <!-- Nuevo combobox para el Estado -->
      <div class="form-group">
        <label for="estado">Estado</label>
        <select id="estado" name="estado"
                [(ngModel)]="selectedEmpleado.estado"
                required>
          <option value="activo">Activo</option>
          <option value="inactivo">Inactivo</option>
        </select>
      </div>

      <button type="submit">{{ isEditing ? 'Actualizar' : 'Agregar' }}</button>
    </form>
  </div>
</div>
